<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionContact</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactServlet</display-name>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.AddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/add-contact</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AddContactGroupServlet</display-name>
    <servlet-name>AddContactGroupServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.AddContactGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactGroupServlet</servlet-name>
    <url-pattern>/add-contact-group</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResearchContactServlet</display-name>
    <servlet-name>ResearchContactServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.ResearchContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchContactServlet</servlet-name>
    <url-pattern>/ResearchContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddressServlet</display-name>
    <servlet-name>AddAddressServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressServlet</servlet-name>
    <url-pattern>/AddAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEnterpriseServlet</display-name>
    <servlet-name>AddEnterpriseServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.AddEnterpriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEnterpriseServlet</servlet-name>
    <url-pattern>/AddEnterpriseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPhoneNumberServlet</display-name>
    <servlet-name>AddPhoneNumberServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.AddPhoneNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhoneNumberServlet</servlet-name>
    <url-pattern>/AddPhoneNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/remove-contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportContactServlet</display-name>
    <servlet-name>ImportContactServlet</servlet-name>
    <servlet-class>com.sar2016.servlets.ImportContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportContactServlet</servlet-name>
    <url-pattern>/import-contacts</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
    <listener>
	<listener-class>
		org.springframework.web.context.request.RequestContextListener
	</listener-class>
  </listener>
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>